body {
  background: hsla(0, 0%, 24%, 0.534);
} 

.cv-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  align-items: flex-start;
}


.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  max-width:300px;
  flex-grow:0;
  margin-left:10px;
  
}



.cv-preview {
  position: flex;   
  width: 400px;          
  max-height: 90vh;      
  padding: 30px;
  padding-right:200px;         
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);

  font-family: 'Segoe UI', sans-serif;
  color: #333;
  line-height: 1.7;      
  overflow-y: auto;
}


.cv-preview h2 {
  font-size: 20px;       
  margin-bottom: 15px;   
  color: #4A90E2;
  border-bottom: 2px solid #eee;
  padding-bottom: 6px;
}


.cv-preview p {
  font-size: 16px;       
  margin: 8px 0;         
}

.cv-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  align-items: flex-start;
  justify-content: space-between;
}




